@model IEnumerable<CleanArch.Application.ViewModels.ProductViewModel>

@{
	ViewData["Title"] = "Products Management";

}

<style>
	.modal-lg{
		max-width:80%;
	}

</style>
 <div>
	 <h2>@ViewData["Title"]</h2>
 </div>
 	 <hr />
 <div class="row">
	<div class="col-md-12 mb-2">
		<div class="d-flex justify-content-start">
			<a asp-action="Create" class="btn btn-primary">
				Register New
			</a>
		</div>
	</div>
 </div>
<div class="mb-4"></div>
<div class="table-responsive">
	<table class="table table-striped">
		<thead class="table-light">
			<tr>
				<th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
				<th scope="col">@Html.DisplayNameFor(model => model.Description)</th>
				<th scope="col">@Html.DisplayNameFor(model => model.Price)</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@Html.DisplayFor(modelItem => item.Name)</td>
					<td>@Html.DisplayFor(modelItem => item.Description)</td>
					<td>@Html.DisplayFor(modelItem => item.Price)</td>
					<td class="text-center">
						<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm" aria-label="Edit @item.Name">Edit</a>
						<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm" aria-label="View details for @item.Name">Details</a>
						<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" aria-label="Delete @item.Name">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
